.asdzxc {
    color: rgb(73, 40, 104);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    list-style: none;
}
.sephoraguzelligi {

    color: cornflowerblue;
    font-family: 'Bebas Neue', cursive ;
    text-align: center;
    text-decoration-line: underline;
}


